body{
    background: #2d2a3d;
    color: #e9e90c;
    font-family: Arial, Helvetica, sans-serif;
    }
.message{
    margin: 5em 0 2em;
    text-align: center;
}
.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 200px;
}
.hand{
  mix-blend-mode: screen;
  background: none;
}
.computer img,.player img{
   width:75%;
}
.shakeComputer{
    animation: shake 0.8s linear;
}
.shakePlayer{
    animation: shake 0.8s linear;
}
.points{
    margin: 2em 0;
    text-align: center;
}
.computerPoints{
    margin-left: 3em;
}
.playerPoints{
    margin-right: 3em;
}
.options{
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
}
.options button{
    background: none;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ffff;
    padding: 1em 2em;
    border-radius: 7px;
    width: 150px;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    transition: 0.2s all linear;
}
.options button:hover{
    background-color: darkcyan;
    border: 1px solid darkcyan
}
@keyframes shakeComputer {
    0%{
        transform: rotate(-30deg);
    }
    25%{
        transform: rotate(30deg);
    }
    30%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes shakePlayer {
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(-30deg);
    }
    30%{
        transform: rotate(30deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}